/*mobile styles smaller than 220px*/
#import_flashcard_body_id {
    text-align: center;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

#import_flashcards_upload_form {
    display:inline-block;
    border: solid 2px blue;
    width: fit-content;
    padding: 20px;
    box-shadow: 10px 10px 8px 10px #888888;
}
/*glow-on-hover button from https://webdeasy.de/top-css-buttons/*/
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 20px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#infoBox{
    border: solid 2px greenyellow;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 15px 10px -10px #666666,
    0 1px 6px #AFAFAF,
    0 0 30px 6px #E6E6E6 inset;
}

/* lds-hourglass spinner from https://loading.io/css/*/
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background: black;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
/* html für spinner: <div class="lds-hourglass"></div>*/

/* mobile styles */
@media screen and (min-width: 220px) {

}

/* small tablet styles*/
@media screen and (min-width: 420px) {

}

/* middle tablet styles*/
@media screen and (min-width: 620px) {
    #import_flashcard_body_id, #select_stack_id, form, #import_flashcards_upload_form{
        font-size: 16pt;
    }

}

/* large tablets and laptops styles*/
@media screen and (min-width: 960px) {

}

/* desktops styles*/
@media screen and (min-width: 1200px) {

}
