/*mobile styles smaller than 220px*/
#represent_flashcard_id{
    display: flex;
    margin: 2px;
    max-width: 100%;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
    border: solid 1px gray;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 220px;
    perspective: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front,
.flip-card-back {
    border: 2px solid black;
    border-radius: 20px;
    background-color: gold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
}

.flip-card-back {
    transform: rotateY(180deg);
    background-color: silver;
}

#flashcard_data_front {
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 100%;
}

#flashcard_data_back {
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 100%;
}

table {
    font-family: arial, sans-serif;
    width: fit-content;
    text-align: center;

}

td,
th {
    border: 1px solid black;
    text-align: center;
    width: fit-content;
}

tr:nth-child(even) {
    background-color: gold;
}

#left_menu_topic_and_next_button{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: solid 1px gray;
    justify-content: left;
    align-items: flex-start;
    padding-top: 10px;
}
/*!* mobile styles *!*/
/*@media screen and (min-width: 220px) {*/
/*    main {*/
/*        margin: 5px;*/
/*    }*/
/*    .flip-card {*/
/*        width: 200px;*/
/*        height: 200px;*/
/*    }*/
/*}*/

/*!* small tablet styles*!*/
/*@media screen and (min-width: 420px) {*/
/*    .flip-card {*/
/*        width: 250px;*/
/*        height: 200px;*/
/*    }*/
/*}*/

/*!* middle tablet styles*!*/
/*@media screen and (min-width: 620px) {*/
/*    .flip-card {*/
/*        width: 400px;*/
/*        height: 200px;*/
/*    }*/
/*}*/
/*!* large tablets and laptops styles*!*/
/*@media screen and (min-width: 960px) {*/
/*    .flip-card {*/
/*        width: 700px;*/
/*        height: 200px;*/
/*    }*/
/*}*/
/*!* desktops styles*!*/
/*@media screen and (min-width: 1200px) {*/
/*    .flip-card {*/
/*        width: 750px;*/
/*        height: 200px;*/
/*    }*/
/*}*/