/*mobile styles smaller than 220px*/
#body-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

#space_right{
    margin-right: 5px;
}

#space_top{
    margin-top: 20px;
}

#left_menu_topic_and_next_button{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 1px gray;
    justify-content: left;
    align-items: flex-start;
    padding-top: 10px;
}
#menu_left_enter_translation_input{
    width: 95%;
}

/* mobile styles */
@media screen and (min-width: 220px) {

}

/* small tablet styles*/
@media screen and (min-width: 420px) {
    #body-form {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    #start_training_stack{
        width: 60%;
    }

    #left_menu_topic_and_next_button{
        display: flex;
        flex-direction: column;
        width: 30%;
        border: solid 1px gray;
        justify-content: left;
        align-items: flex-start;
        padding-top: 10px;
    }
}

/* middle tablet styles*/
@media screen and (min-width: 620px) {

}

/* large tablets and laptops styles*/
@media screen and (min-width: 960px) {

}

/* desktops styles*/
@media screen and (min-width: 1200px) {

}